@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-public;
}
@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.rotate-once {
  animation: rotateOnce 1s ease-in-out;
}
