@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-public;
}
@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.rotate-once {
  animation: rotateOnce 1s ease-in-out;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-slow {
  animation: gradientShift 12s ease-in-out infinite;
}
